/*
 * Styles for use by idMyGadget code
 */
/*
 * Styles for device-dependent headings
 */
#name-and-slogan {  /* defined in original page.tpl.php; see README.md */
	display: block;
}
.logo-file-desktop {
	display: inline;
	float: left;
	height: 200px;
	width: 200px;
}
.logo-file-phone {
	display: inline;
	float: left;
	height: 50px;
	width: 50px;
}
.logo-file-tablet {
	display: inline;
	float: right;
	height: 100px;
	width: 100px;
}
.site-name-title-desktop {
	display: inline;
	float: right;
}
.site-name-title-phone {
	display: inline;
	float: right;
}
.site-name-title-tablet {
	display: inline;
	float: left;
}
.site-name-desktop,
.site-name-phone,
.site-name-tablet {
	display: block;
}
.site-title-desktop,
.site-title-phone,
.site-title-tablet {
	display: block;
}
.site-description-desktop,
.site-description-phone,
.site-description-tablet {
	clear: both;
	display: block;
	font-style: italic;
	text-decoration: underline;
}

/*
 * Error messages!
 */
div.idmygadget-error {
	background-color: white;
	border: solid 2px red;
	color: red;
	margin: 1em;
	padding: 1em;
}
a.idmygadget-error {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}
a.idmygadget-error:hover {
	color: blue;
	text-decoration: underline;
}
span.idmygadget-error {
	color: red;
	font-weight: bold;
	text-decoration: none;
}
